.date-button {
    z-index: 50;
}
.date-button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-color: var(--color-sub);
}

.date-button.range-start::before {
    left: 50%;
    right: 0;
}

.date-button.range-end::before {
    left: 0;
    right: 50%;

}

.date-button.in-range:not(.range-start):not(.range-end)::before {
    left: 0;
    right: 0;
}
